<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <my-common></my-common>
  <ng-container #placeholder1></ng-container>
  <ng-container #placeholder2></ng-container>
  <ng-container #placeholder3></ng-container>

  <app-comp1></app-comp1>
  <app-comp2></app-comp2>
  <app-comp3></app-comp3>
  <app-comp4></app-comp4>
  <app-comp5></app-comp5>
  <app-comp6></app-comp6>
  <app-comp7></app-comp7>
  <app-comp8></app-comp8>
  <app-comp9></app-comp9>
  <app-comp10></app-comp10>
  <app-comp11></app-comp11>
  <app-comp12></app-comp12>
  <app-comp13></app-comp13>
  <app-comp14></app-comp14>
  <app-comp15></app-comp15>
  <app-comp16></app-comp16>
  <app-comp17></app-comp17>
  <app-comp18></app-comp18>
  <app-comp19></app-comp19>
  <app-comp20></app-comp20>
</div>


